
		<div class="owl-carousel">
  <div><%= link_to image_tag("testheader.png", size: "200x150") %></div>
  <div><%= link_to image_tag("testheader.png", size: "200x150") %></div>
  <div><%= link_to image_tag("testheader.png", size: "200x150") %></div>
  <div><%= link_to image_tag("testheader.png", size: "200x150") %></div>
  <div> Your Content </div>
  <div> Your Content </div>
  <div> Your Content </div>
</div>