// Place all the styles related to the pins controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#pins {
	margin: 0 auto;
}

.box {
	margin: 10px;
	width: 250px;
	border-style: none;
	border-radius: none;
	box-shadow: none;
}

.box img {
	width: 100%;
}

#pins .panel-body {
	padding: 10px 0 10px 10px;
}

#pins .panel-body p {
	display: inline;
}

#pins .panel-footer {
	padding: 5px 0 10px 10px;	
	background-color: none;
}

#pins .actions {
	display: inline;
}

#pins .like-button {
	display: inline;
	float: right;
	margin-right: 10px;
}